@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

#app {
    background-color: #272934;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.no-border {
    border:0px;
    outline:0px;
    border-style: hidden;
}

.no-hover:hover {
    text-decoration: none;
    color: inherit;
}

.white-text {
    color: white
}

.rounded-corner {
    border-radius: 10px !important;
}
