@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

#app {
    background-color: #272934;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}
