service: gamer-alert-api

provider:
  name: aws
  runtime: nodejs14.x
  stage: v2
  region: us-west-2
    
functions:
  app:
    handler: build/serverless.handler
    events:
     - http: ANY /
     - http: 'ANY {proxy+}'
    environment:
      API_KEYS: testapikey
      DATABASE_URL: urlhere
